*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
}

.logo{
    width: 100px;
    margin-left: 10px;
}

h1{
    font-size: 2em;
    font-weight: bold;
}

select{
    width: 30%;
}

main{
    min-height: 600px;
    background-color: rgb(127, 255, 212);
}

.container{
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    padding: 0;
}

.content{
    width: 10%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

footer{
    height: 50px;
}